/* Less style */
/*Scroll bar*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cbcbcb;
}
.top-bar {
  line-height: 0rem !important;
}
button {
  padding: 0;
  border: 0;
  position: relative;
  outline: 0;
}
  /*top-bar highlights*/
.top-bar .account-dropdown.flex {
  display: inline-flex;
  width: auto;
  float: right;
}
.top-bar .link-signup {
  margin-right: 0px !important;
}
.languages-area .topbar-widget {
  width: 100%;
}
.languages-area > *:first-child {
  padding-right: unset !important;
}
#text-22.topbar-widget p,
#text-24.topbar-widget p {
  position: relative;
  top: -2px;
}
.top-bar-info.topbar-color-dark {
  background-color: #e6e6e6;
  padding: 4px 0;
}
/*.top-bar.topbar-color-dark * {*/
  /*color: #4d4d4d;*/
/*}*/
.top-bar {
  background-color: #e6e6e6 !important;
  color: #4d4d4d !important;
}
.topbar-widget.widget_text {
  color: #4d4d4d !important;
}
.top-bar .topbar-widget .textwidget .con:hover {
  color: #79A801;
}
.header-type-7 .top-bar .links li a {
  color: white;
}
.top-bar .topbar-widget {
  color: white;
}
.header-type-7 .top-bar {
  background-color: #7aa802;
}
.top-bar-info .row {
  display: flex;
}
.top-bar-info .cols {
  display: flex;
  align-items: center;
}
.top-bar-info .dropdown-menu {
  display: none ;
}
.top-bar-info .open > .dropdown-menu {
  display: block;
}
.switch-country .bootstrap-select,
.switch-state .bootstrap-select {
  width: 130px !important;
}
.select-state img {
  height: 26px !important;
  width: auto !important;
}
.switch-country .sel-desc,
.switch-state .sel-desc {
  font-size: 15px;
  padding-left: 2px;
  position: relative;
  top: 2px;
  display: inline-block;
  color: #333333;
}
.switch-country .btn.btn-default,
.switch-state .btn.btn-default {
  background: white;
  border-radius: 5px;
  max-width: 115px;
  padding: 5px;
}
.switch-country ul li,
.switch-state ul li {
  display: block;
  border-bottom: 1px solid #ececec;
  width: 90%;
  margin: 0 auto !important;
}
.switch-country .dropdown-menu > li > a,
.switch-state .dropdown-menu > li > a {
  padding: 5px 12px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  color: #333;
}
.contact-container .vc_icon_element-icon {
  color: #84b316!important;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.contact-us .phone,
.email-us {
  font-weight: bold;
  font-size: 14px;
  margin: 0 10px;
  color: #4d4d4d !important;
}
a.email-us {
  margin-right: 0px !important;
}
.contact-us .phone:hover,
.email-us:hover {
  color: #222;
}
.contact-us .time {
  font-size: 12px;
}
.email-container {
  margin-left: 15px;
}
.shipping-rate {
  font-weight: bold;
  font-size: 14px;
  /*margin-left: 2px;*/
  color: #4d4d4d !important;
}
.load-redirection {
  position: absolute;
  z-index: 99;
  top: 8px;
  left: 35%;
  font-size: 20px;
}
button.btn-disabled,
.btn.btn-disabled[disabled] {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.ajax-loading {
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}
/*.account-links {*/
  /*width: 42%;*/

/*}*/
.btn.btn-account {
  padding: 5px;
  width: 104px;
}
.btn-account .caret {
  position: absolute;
  right: 8px;
  top: 15px;
}
.link-login {
  margin-left: 8px;
  font-size: 15px;
  top: 5px;
  font-weight: bold;
  position: relative;
}
.link-login .fa {
  margin-right: 8px;
}
.link-signup {
  background: #84b316;
  color: white !important;
  padding: 7px 26px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  line-height: 2.5;
}

.link-login:hover span {
  color: #888888 !important;
}
.link-signup:hover {
    background-color: #8fc118;
    color: white !important;
}
.header-logo img {
  max-width: 180px;
}
.navbar {
  padding: 15px 0 !important;
}
.fixed-header {
  background: rgba(255, 255, 255, 0.5);
}
/*.nav-sublist-dropdown {*/
  /*margin-top: 23px;*/
/*}*/
/*.menu-wrapper .menu > li:hover .nav-sublist-dropdown {*/
  /*top: 38px;*/
/*}*/
.menu li.menu-item-has-children:before {
  content: "\f107";
  font-family: FontAwesome;
  position: relative;
  top: 15px;
  left: -5px;
  color: #000;
  font-weight: 600;
}
.nav-sublist-dropdown ul li:before {
  display: none;
}
.nav-sublist-dropdown:before {
  height: 30px;
  top: -30px;
}
.menu li.menu-item-has-children:before {
  position: relative;
  top: 10px;
  left: -5px;
}
.menu-wrapper .menu > li > a {
  padding: 0.77em 1.2em;
}
.menu-wrapper .menu > li.current-menu-item > a:after,
.header-color-dark .menu-wrapper .menu > li > a:hover:after {
  display: none;
}
.header-xstore .navbar-header {
  width: 7% !important;
}
.btn.btn-account {
  background: white;
  border-radius: 5px;
  color: #333333 !important;
}
.account-container .dropdown-menu > li > a {
  padding: 7px 20px;
}
/*Ajax Search*/
#rf-search-box {
  width: 262px !important;
}
.rf-search-container {
  border-top: 2px solid #DCDEE0 !important;
  margin-top: 2px !important;
}
.ajax-results {
  border-left: 1px solid #e6e6e6;
}
.header-search.act-default .search-btn {
  display: none;
}
.shopping-container.ico-design-2 .cart-bag .badge-number {
  background-color: #D89B31 !important;
}
.mobile-menu-wrapper .header-search.act-default button[type="submit"] {
  background: transparent !important;
  border: none;
}
.header-search.act-default [role=searchform] .btn:hover {
  background-color: #f8f8f8 !important;
}
input,
textarea,
input[type="number"] {
  border-color: #c7c7c7 !important;
}
/*Container homepage*/
#fix-row-height.vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 42px;
  padding-bottom: 2px;
}
.home .vc_col-has-fill > .vc_column-inner,
.home .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.home .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.home .vc_section.vc_section-has-fill,
.home .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section,
.home .vc_section.vc_section-has-fill + .vc_section {
  padding-top: 0;
}
/*Item Highlights*/
.prod-highlight-wrapper {
  margin-top: 16px;
}
.prod-highlight-col > .vc_column-inner > .wpb_wrapper {
  background-color: #231f20;
  padding: 20px 20px 13px;
}
.highlight-header {
  color: #ffffff;
  text-transform: none !important;
  margin-bottom: 20px;
}
.prod-highlight-col .wpb_single_image {
  position: absolute;
  top: -55px;
}
.prod-highlight-col .vc_single_image-img {
  border: 3px solid #cecece;
}
.prod-highlight-col .uavc-list-icon-wrapper.ult-adjust-bottom-margin {
  margin-bottom: 0px;
}
.prod-highlight-col .uavc-list-content span.uavc-list-desc {
  color: #ccc;
}
.prod-highlight-col .uavc-list-content .aio-icon {
  color: #ccc !important;
}
.page-heading.bc-type-2 .title {
  font: 24px/24px 'Raleway', Arial, Helvetica, sans-serif !important;
  color: #252525 !important;
  margin: 0 auto !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
.posts-slider article h2,
.post-heading h2,
.page-heading .title,
.product-title,
.product-information .title,
.product-info-wrapper .title,
.product-summary-center .title,
.product-information .product_title,
.product-info-wrapper .product_title,
.product-summary-center .product_title {
  text-transform: initial;
}
.page-content,
.content-page {
  margin-top: 0px;
}
.st-content {
  background-color: #FFFEFC;
}
.tabs .tab-content p {
  color: #363636 !important;
  font-size: 16px !important;
}
.article-p p {
  padding-bottom: 10px;
  color: #333;
}
em {
  color: #1e1e1e;
}
.mail-link {
  color: #1a82e0;
}
.header-wrapper {
  border-bottom: 3px solid #7AA802 !important;
}
.admin-bar .fixed-header-area.fixed-already {
  background-color: #fef3e2;
}
.wpb_wrapper p {
  font-family: 'Lato', Arial, Tahoma sans-serif;
  font-size: 15px !important;
  margin-bottom: 0;
  font-weight: 300 !important;
}
.bundled_product_summary .details {
  margin-bottom: -80px;
}
.details div p {
  visibility: hidden;
}
.short-description strong {
  font-size: 12px;
  font-family: 'Raleway', Georgia, Helvetica, sans-serifGeorgia, Helvetica, sans-serif;
}
.short-description h5 strong {
  font-family: 'Raleway', Georgia, Helvetica, sans-serifGeorgia, Helvetica, sans-serif;
  font-weight: 500;
}
.container-wrapper {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.lost_password a {
  color: #313131 !important;
}
body > div.template-container > div.template-content > div.page-wrapper > div.container.content-page > div > div > div > div.woocommerce > div > form {
  display: block !important;
}
#ui-datepicker-div {
  background: #FFF;
  padding: 10px;
}
#ui-datepicker-div > div > a.ui-datepicker-next.ui-corner-all > span {
  float: right;
  color: #2799d5;
}
#ui-datepicker-div > div > a.ui-datepicker-prev.ui-corner-all > span {
  color: #2799d5;
}
#call_for_credit > p:nth-child(1) {
  float: none !important;
}
/*
** Opacity
*/
/*
** Border Radius
*/
/*
** CSS3 animation
*/
@-webkit-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}
/*User account*/
.woocommerce-MyAccount-navigation li.is-active a {
  color: #1e1e1e;
  font-weight: bold;
}
/*woocommerce*/
.price + a.add_to_cart_button {
  margin-top: 1.0714em;
}
.button.product_type_simple.ajax_add_to_cart,
.button.product_type_subscription.add_to_cart_button,
.button.product_type_simple.add_to_cart_button {
  border-radius: 0;
  font-weight: 500;
  line-height: 15px;
  padding: 8px 20px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font: 11px/15px 'Raleway', sans-serif;
  border: 2px solid #252525;
}
.button.product_type_simple.ajax_add_to_cart:hover,
.button.product_type_subscription.add_to_cart_button:hover,
.button.product_type_simple.add_to_cart_button:hover {
  color: white;
  text-transform: uppercase;
  background-color: #7AA802;
}
.add_to_cart_button.ajax_add_to_cart.single_add_to_cart_button.button.alt {
  vertical-align: top;
}
.quantity.buttons_added {
  height: 50%;
}
input.input-text.qty.text {
  height: 3.42rem;
}
.quantity.buttons_added .plus,
.quantity.buttons_added .minus {
  height: 50%;
}
.active.et-opened .tab-title.opened {
  color: #7AA802;
}
a.checkout-button.button.alt.wc-forward,
a.button.btn-checkout.wc-forward,
#place_order.button.alt {
  background-color: #7aa802;
  border: 1px solid #111;
}
.price ins .amount {
  color: black !important;
}
.button.product_type_simple.add_to_cart_button {
  font-family: 'Lato', Arial, Tahoma sans-serif;
}
.payment_methods label[for="payment_method_stripe"] img {
  width: 40px;
}
#place_order,
.btn-checkout,
checkout-button {
  display: block !important;
}
.label-product > div {
  margin-left: 14px;
}
.woocommerce-price-suffix {
  margin-bottom: 30px;
}
.product-information .cart button {
  background-color: #79aa00;
}
.product-information .cart button {
  font-size: 18px !important;
}
.page-heading a,
.page-heading .woocommerce-breadcrumb,
.page-heading #breadcrumb {
  color: #1a82e0 !important;
}
.tabs.accordion .tab-title {
  font-size: 19px !important;
  font-weight: 900 !important;
}
.reply-title .comment-reply-title {
  color: #9d1bb2 !important;
}
ul.page-numbers {
  list-style: none;
  text-align: center;
  padding: 1em 0;
}
ul.page-numbers li {
  display: inline-block;
  list-style: none;
}
.products-grid .product-title {
  margin-top: 10px;
}
.products-grid .product-title {
  font-size: 16px;
}
#place_order,
.btn-checkout,
checkout-button {
  display: block !important;
}
/*wholesale pricing*/
.price + form.cart {
  margin-top: 1em;
}
.product-information-inner .woocommerce-price-suffix {
  float: left;
}
.shipping.recurring-total {
  display: none;
}
.single-product .tabs {
  margin-bottom: 0;
}
.cart-subtotal-wholesale .wholesale-amount {
  font-size: 20px;
  font-weight: bold;
}
.cart-subtotal-wholesale .orginal-amount {
  padding-left: 5px;
  font-size: 18px;
}
.off-wholesale .wholesale-amount,
.on-wholesale .orginal-amount {
  text-decoration: line-through;
}
.cart_totals th {
  width: 160px;
}
.cart-subtotal-wholesale th,
.cart-subtotal-wholesale td {
  border-top: 2px solid #1e1e1e;
}
.cart-item-details .variation {
  margin-bottom: 0;
}
.wholesale-shipping p {
  font-size: 0.86rem;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: bold;
}
.stock {
  color: #777;
  text-transform: capitalize;
}
.product-information .price {
  margin-bottom: 10px;
}
.wholesale_customer .product-information .price {
  margin-bottom: 0;
}
.product-information .woocommerce-price-suffix {
  margin-bottom: 5px;
}
.product-information .wholesale_price_container {
  margin-top: -10px;
}
.remove-item-mobile {
  display: none !important;
}
.product-inview.content-product .price {
  margin-bottom: 0;
}
.product-inview .afterpay-payment-info {
  margin-bottom: 1.0714em;
}
.product-thumbnail-mobile {
  display: none;
  float: left;
  width: 50px;
}
#product-5876 > div.row > div > div > div.col-lg-6.col-md-6.col-sm-12.product-information > div > div > form > dl {
  display: none;
}
/*Footer*/
.et-follow-buttons.buttons-size-large a:hover {
  color: white;
}
.footer-bottom {
  padding: 30px 0;
}
.et-follow-buttons.align-center {
  text-align: left;
}
.footer .widget-title {
  margin-bottom: 1em;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.5em;
}
/*Customer reviews*/
.rf-summary-container {
  margin: 5px !important;
}
.rf-review-description {
  border-top: none !important;
  margin-top: 0px !important;
}
.rf-review-header {
  display: none;
}
#custom_html-2 .widget-title {
  margin-bottom: 0;
}
.rf-review header span {
  font-size: 1.45em !important;
}
.rf-review {
  padding: 5px !important;
}
.rf-review h3 {
  margin: 5px 10px 5px 0;
  font-size: 20px;
}
.rf-review p {
  background: #b5e8ff;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 5px solid #9dcfe6;
  color: #105780;
  margin-bottom: 15px;
  font-weight: 400;
}
#custom_html-2 ::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
.wpb_content_element {
  /*margin-bottom: 0px;*/
}
/*Conversion*/
#billing_email_conversio_optin_field,
#tab_reviews {
  display: none;
}
.single-product-default .widget-title {
  text-align: center;
}
/*Responsive*/
@media (min-width: 1024px) {
  #custom_html-2 .rf-reviews {
    position: absolute;
    overflow-y: scroll;
    max-height: 495px;
    width: 93%;
  }
}
@media (max-width: 1100px) {
  .contact-container .vc_icon_element-icon {
    font-size: 18px;
  }
  .contact-us .phone,
  .email-us,
  .shipping-rate,
  .switch-country .sel-desc,
  .switch-state .sel-desc {
    font-size: 13px;
  }
  .switch-country .btn.btn-default,
  .switch-state .btn.btn-default {
    max-width: 108px !important;
  }
  .link-login,
  .link-signup {
    font-size: 14px;
  }
  .switch-country .bootstrap-select,
  .switch-state .bootstrap-select {
    width: 118px !important;
  }
}
@media (max-width: 1024px) {
  .menu-wrapper .menu > li > a {
    padding: 0.77em 1em;
  }
  .my-account-link > a {
    width: 100px;
  }
  .contact-us .time {
    display: none;
  }
  .email-container {
    margin-left: 5px;
  }
  .my-account-link ul {
    left: -115px;
  }
  /*Search bar*/
  .ajax-results-wrapper {
    margin-top: 4px;
  }
  #rf-search-box {
    width: 200px !important;
  }
  .header-search.act-default {
    width: 10.5em;
  }
  .prod-highlight-wrapper {
    margin-top: 6px;
  }
  .prod-highlight-col .wpb_single_image {
    position: relative;
    top: 0px;
    margin-bottom: 10px;
  }
  .prod-highlight-col .uavc-list-icon-wrapper.ult-adjust-bottom-margin {
    margin-bottom: 5px;
  }
  .highlight-header {
    margin-bottom: 10px;
    margin-left: -15px;
    margin-top: 18px;
  }
  .prod-highlight-col .uavc-list-content span.uavc-list-desc {
    font-size: 14px;
  }
  .product-inview .afterpay-payment-info {
    line-height: 1.3;
  }
}
@media (max-width: 991px) {
  .top-bar-info .btn-account {
    padding: .75rem 0.7rem;
  }
  .top-bar-info .account-container.open > .dropdown-menu {
    left: -66px;
  }
  .contact-us .phone,
  .email-us {
    font-size: 14px;
  }
  .shipping-rate,
  .link-signup {
    display: none;
  }
  .top-bar-info .col-md-6 {
    width: 50%;
  }
  .link-login {
    top: 0;
    margin-left: 0;
  }
  .account-links {
    width: 29%;
    text-align: center;
  }
  .menu li.menu-item-has-children:before,
  .mobile-menu-wrapper .menu > li .sub-menu .menu-show-all a {
    display: none;
  }
  .mobile-menu-wrapper .menu li a:hover,
  .mobile-menu-wrapper .menu > li .sub-menu li a:hover {
    color: #000;
  }
  .highlight-header {
    margin-top: 0;
    line-height: 22px;
    font-size: 19px !important;
  }
  .prod-highlight-col .uavc-list-content span.uavc-list-desc {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .prod-highlight-col > .vc_column-inner > .wpb_wrapper {
    min-height: 314px;
  }
}
@media (max-width: 767px) {
  .top-bar-info .col-sm-4,
  .top-bar-info .col-sm-8 {
    width: 50%;
  }
  #fix-row-height.vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 35px;
    padding-bottom: 0px;
  }
  .prod-highlight-col:first-child {
    margin-bottom: 35px;
  }
  .highlight-header {
    margin-left: 0;
    font-size: 22px !important;
    margin-top: 10px;
    line-height: 26px;
  }
  .prod-highlight-col .uavc-list-content span.uavc-list-desc {
    font-size: 1.14rem;
    line-height: 1.8;
  }
  #fix-row-height .ult-banner-block {
    margin-bottom: 0;
  }
  #fix-row-height .wpb_column:nth-child(3) .ult-banner-block {
    margin-bottom: 35px !important;
  }
}
@media (max-width: 740px) {
  .top-bar-info .col-sm-4 {
    width: 30%;
  }
  .top-bar-info .col-sm-8 {
    width: 70%;
  }
  .top-bar-info .col-sm-8 .widget_text {
    width: 74%;
    text-align: right;
  }
  .top-bar-info .col-sm-8 .account-links {
    width: 26%;
  }
  .email-container {
    display: none;
  }
}


@media (max-width: 480px) {
  .top-bar-info .col-sm-4 {
    width: 0;
    display: none;
  }
  .top-bar-info .col-sm-8 {
    width: 100%;
  }
  .top-bar-info .col-sm-8 .widget_text {
    text-align: left;
    width: 75%;
  }
  .btn.btn-account {
    font-size: 11px;
  }
  .email-container {
    display: none;
  }
  .switch-country {
    width: 50%;
    float: left;
  }
  .switch-state {
    width: 50%;
  }
  .switch-country .sel-desc,
  .switch-state .sel-desc {
    font-size: 13px;
  }
  .select-state img {
    height: 22px !important;
  }
  .switch-country .btn.btn-default,
  .switch-state .btn.btn-default {
    max-width: 100%;
    padding: 0 5px;
  }
  .switch-country .bootstrap-select,
  .switch-state .bootstrap-select {
    width: 110px !important;
  }
  table.cart .product-name {
    width: 45px;
  }
  table.cart .product-remove {
    display: none;
  }
  table.cart .product-name img {
    max-width: 45px;
  }
  .quantity.buttons_added span {
    width: 25px;
    display: inline-block !important;
  }
  .quantity.buttons_added input[type=number] {
    padding: 0 .1em;
  }
  .quantity.buttons_added .plus:before,
  .quantity.buttons_added .minus:before {
    font-size: 13px;
  }
  .remove-item-mobile {
    display: block !important;
    position: relative;
    top: 5px;
  }
  .order-review {
    padding: 20px 15px;
  }
  #wc-stripe-cc-form {
    padding: 10px 5px;
    margin-bottom: 10px;
  }
  .footer-widgets {
    text-align: center;
  }
  .et-follow-buttons.align-center {
    text-align: center;
  }
}
@media (max-width: 375px) {
  table.cart .product-name {
    display: none;
  }
  .product-thumbnail-mobile {
    display: block;
  }
  .cart-item-details {
    margin-left: 52px;
  }
  .contact-us .phone,
  .email-us {
    font-size: 13px;
  }
}
/*@media (max-width: 360px) {*/
  /*.switch-country {*/
    /*display: none;*/
  /*}*/
/*}*/
@media (max-width: 320px) {
  .switch-country .btn.btn-default,
  .switch-state .btn.btn-default {
    max-width: 85px;
  }
  .link-login .fa {
    font-size: 18px;
  }
  .switch-state {
    margin-left: 0;
  }
}
/*Loader*/
.show-quickly .loader-circular{
    width: 70px;
}
.show-quickly .loader-circular{
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
/*Giftwrap*/
.giftwrapper #gemagiftfront{
    width: 100%;
    max-width: 423px;
    border: 3px dashed #c7c7c7;
    background: white;
    margin: auto;
    float: none;
}
.woocommerce-checkout .giftwrapper #gemagiftfront{
    max-width: 100%;
}
.giftwrapper #gemagiftfront ul li{
    display: inline-table;
    float: none;
}
.giftwrapper #gemagiftfront form{
    padding: 10px;
    width: auto;
    border: none;
}
back-top {
  bottom: 60px !important;
}
/*Floating Button*/
#id-floatingbutton {
  display: none;
}

/*Header*/
@media (max-width: 1024px){
    .menu-wrapper > .menu-main-container .menu > li > a{
        font-size: 13px;
    }
    .header-xstore .top-bar, .top-bar .languages-area{
        display:block;
    }

}
@media (max-width: 992px){
    #select-state-mobile option {
        color: #84b316 !important;
    }
}
@media (max-width: 768px){
    .link-login, .link-signup {
      margin-right: 16px !important;
      float: left !important;
      line-height: 2.15rem !important;
    }
    .account-dropdown .topbar-widget {
      max-width: 317px;
      width: 308px;
    }
    .header-logo a{
        position: relative;
        top: 8px;
    }
    .header-search.act-default{
        width: 100%
    }
  .switch-country .btn.btn-default, .switch-state .btn.btn-default {
    height: 40px;
  }
}
@media (max-width: 736px){
    .top-bar .cols.col-sm-4, .top-bar .cols.col-sm-8{
        width: 50% !important;
    }
    .switch-country, .switch-state {
      display: none !important;
    }
    /*.home .switch-country {*/
      /*display: block !important;*/
    /*}*/
    .link-login{
        margin-right: 0;
    }
}
@media (max-width: 480px) {
  .link-login, .link-signup {
    float: unset !important;
  }
  .top-bar .cols {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .account-dropdown .topbar-widget {
    max-width: 139px;
    width: 139px;
  }
  .home .top-bar-info .widget .dropdown-toggle span.sel-desc {
    padding-top: unset;
  }
  #id-floatingbutton.fbIn {
    display: block !important;
  }
  #id-floatingbutton.fbOut {
    display: none !important;
  }
  .woocommerce-cart div#id-floatingbutton, .woocommerce-checkout div#id-floatingbutton {
    display: none !important;
  }
  .back-top {
    bottom: 165px !important;
    right: 21px !important;
  }
  .woocommerce-cart div.back-top, .woocommerce-cart div#id-floatingbutton {
    bottom: 95px!important;
  }
}
@media (max-width: 360px){
    .top-bar .account-dropdown.flex {
        width: 165px !important;
    }
    .top-bar .account-dropdown .topbar-widget {
        max-width: 97px !important;
    }
    .account-links {
        width: 50% !important;
        text-align: right !important;
    }
    .top-bar .cols {
        padding-left: 0px !important;
        padding-left: 0px !important;
    }
}
@media (max-width: 340px){
    .link-login,.contact-us .phone{
        font-size: 11px;
    }
}
/*Fixed bugs woocommerce*/
.shopping-container .cart-bag .badge-number{
    background-color: #000;
}
.woocommerce-info b, .cart-popup .woocommerce-Price-amount{
    color: #333;
}
.error-tr{
    outline: 1px solid #b63231;
}
.quantity.buttons_added span:hover, table.cart .remove-item:hover,
input[type=submit]:hover, .btn:hover, .back-top:hover, .button:hover,
.swiper-entry .swiper-custom-left:hover, .swiper-entry .swiper-custom-right:hover {
    background-color: #dadada;
}
.header-search.act-default [role=searchform] .btn:hover{
    background-color: #4a4a4a !important;
}
table.cart .product-details a:hover, .cart-widget-products .remove:hover, .cart-widget-products a:hover, .shipping-calculator-button, .tabs .tab-title:hover, .next-post .post-info .post-title, .prev-post .post-info .post-title, .form-submit input[type=submit]{
    color: #000 !important;
}
.form-submit input[type=submit]:hover{
    color: white !important;
}
.shipping-calculator-button:hover{
    text-decoration: underline;
}
.active.et-opened .tab-title.opened{
    border: 1px solid #e6e6e6;
}
.posts-nav-btn:hover .button:before{
    color: #cbcbcb;
}
#wc-stripe-payment-request-wrapper, #wc-stripe-payment-request-button-separator{
    display: none !important;
}
::-moz-selection { background: #d2c5ff !important; }
::selection { background: #d2c5ff !important; }

div#id-floatingbutton {
  opacity: 1;
  visibility: visible;
  z-index: 2147483639;
  position: fixed;
  bottom: 88px;
  width: 62px;
  height: 60px;
  max-width: 100%;
  max-height: calc(100% - 0px);
  min-height: 0px;
  min-width: 0px;
  background-color: white;
  border-radius: 50%;
  border: 0px;
  overflow: hidden;
  right: 8px;
  transition: none 0s ease 0s !important;
  padding: 14px;
  box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.2);
}

.product-ajax-list {
  float: left;
  display: block;
  overflow: hidden;
  width: 50%;
  margin-bottom: 0;
}
.product-ajax-list li {
  padding: 1.43em;
  list-style-type: none;
  float: left;
  display: block;
  width: 50%;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.product-ajax-list li:nth-child(2n+2) {
  clear: both;
}
.product-ajax-list .product-list-image {
  float: left;
  display: block;
}
.product-ajax-list img {
  max-width: 4.55rem;
  margin-right: 20px;
}
.product-ajax-list .product-title {
  display: block;
  font-size: 0.9rem !important;
  line-height: 1.5;
  margin-bottom: 0;
}
.product-ajax-list .product-title a {
  text-transform: uppercase;
  font-weight: bold;
}
.product-ajax-list ul,
.posts-ajax-list ul {
  display: inline-block;
  width: 100%;
}
.product-ajax-list li {
  min-height: 134px;
}
.product-results-on .product-ajax-list {
  width: 100%;
}
.product-results-on .product-ajax-list ul li {
  width: 33.33%;
}
.product-results-on .product-ajax-list ul li:nth-child(3n+1) {
  clear: both;
}
.product-results-on .product-ajax-list ul li:nth-child(2n+1) {
  clear: none;
}
.posts-ajax-list {
  float: left;
  display: block;
  overflow: hidden;
  width: 50%;
  margin-bottom: 0;
}
.posts-ajax-list li {
  padding: 1.43em;
  list-style-type: none;
  float: left;
  display: block;
  width: 50%;
  min-height: 134px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.posts-ajax-list .post-title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.5;
}
.posts-ajax-list .post-title a {
  font-weight: bold;
}
.posts-ajax-list .post-list-image {
  float: left;
  display: block;
}
.posts-ajax-list img {
  max-width: 5.0rem;
  margin-right: 20px;
  margin-bottom: 10px;
}
.posts-ajax-list h4 {
  display: block;
  font-size: 1rem;
}
.posts-ajax-list h4 a {
  text-transform: uppercase;
}
.post-results-on .posts-ajax-list {
  width: 100%;
}
.post-results-on .posts-ajax-list ul li {
  width: 33.33%;
  min-height: 105px;
}
.post-results-on .posts-ajax-list ul li:nth-child(3n+1) {
  clear: both;
}
.post-results-on .posts-ajax-list ul li:nth-child(2n+1) {
  clear: none;
}
.select-country.bootstrap-select .dropdown-toggle:focus, .select-state.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.switch-state .dropdown-menu.open {
  margin-top: 1px;
  left: unset !important;
  min-width: 138px !important;
}
.switch-country, .switch-state {
  line-height: 0 !important;
  float: left !important;
  max-width: 120px;
}

.sidebar-widget ul li.current-cat>a, .sidebar-widget ul li>ul.children li.current-cat>a {
  color: #222 !important;
  font-weight: bold !important;
}
price_slider_wrapper .ui-slider .ui-slider-handle, .woocommerce-pagination ul li .current, .woocommerce-pagination ul li a:hover {
  background: #333 !important;
}
.link-login {
  margin-right: 16px !important;
  top: 0 !important;
}
.shopping-container.ico-design-2 .cart-bag:before, .et_cart-type-2 .footer-product .button:before, .et_cart-type-2 .single_add_to_cart_button:before {
  font-size: 32px !important;
}
.shopping-container.ico-design-2 .cart-bag .badge-number {
  font-size: 12px !important;
  min-width: 20px !important;
  min-height: 20px !important;
}
.top-bar {
  padding: 4px 0 !important;
}
/*.top-bar .row div:first-child {*/
  /*padding-right: inherit !important;*/
/*}*/