
.row.products-loop {
    margin-left: 15px;
    margin-right: 15px;
}
.single-product-sidebar .custom-html-widget .row.products-loop {
    margin-left: 0px;
    margin-right: 0px;
}
.filter-wrap .filter-content .view-switcher .switch-grid , .filter-wrap .filter-content .view-switcher .switch-list {
    display: none !important;
}
.button.product_type_simple.ajax_add_to_cart, .button.product_type_subscription.add_to_cart_button, .button.product_type_simple.add_to_cart_button {
    padding: 8px 20px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    font: 11px/15px 'Raleway', sans-serif;
    font-family: "Raleway", sans-serif;
    border: 2px solid #252525;
}
.button.product_type_simple.ajax_add_to_cart:hover, .button.product_type_subscription.add_to_cart_button:hover, .button.product_type_simple.add_to_cart_button:hover {
    color: white;
    text-transform: uppercase;
    background-color: #7AA802;
}
.mfp-close:hover, .mfp-close:focus {
    opacity: 0.1;
    background-color: black !important;
}
.product-images .swiper-entry.swipers-couple-wrapper.images-wrapper {
    position: unset !important;
    top: unset !important;
}
.content-product .product-title {
    font-size: 12.5px !important;
    text-align: left !important;
    border-bottom: 1px solid #efefef !important;
}
.wishlist-disabled.status-publish, .product-slide .content-product {
    padding-top: 13px !important;
}
.content-product .products-page-cats {
    display: none;
}
.content-product .product-title a {
    margin: 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 215px;
    font-weight: bold;
}
.product-content-image {
    max-width: 250px !important;
    max-height: 230px !important;
    height: 250px !important;
}
/*.archive .container .row {*/
/*margin-right: 0px !important;*/
/*margin-left: 0px !important;*/
/*}*/
/*.col-md-3 {*/
/*width: 24% !important;*/
/*}*/
div.product-image-wrapper .stock.out-of-stock {
    display: none;
}
.text-center.product-details span.posted_in {
    font-size: 10px !important;
    float: left !important;
    text-align: left;
    width: 61%;
    height: 30px;
}

.text-center.product-details div.star-rating {
    float: right;
    margin-top: 5px;
    color: #8cc63f;
}
.text-center.product-details div.star-rating span::before {
    color: #8cc63f !important;
}
.text-center.product-details span.price span.amount {
    color: black;
}
.single-product-default .product-content .price .wholesale_price_container ins span.woocommerce-Price-amount.amount  {
    font-size: 31px;
    color: black;
    font-weight: bold;
}
.single-product-default .product-content  .product-information .price {
    margin-bottom: 20px !important;
}
.price ins .amount {
    color: #333 !important;
    font-weight: bold !important;
}
.single-product-default .product-content  .price ins .amount {
    font-weight: bold;
}
.single-product-default .product-content  .price del span.woocommerce-Price-amount.amount {
    font-size: 21px;
    color: #888888 !important;
}
.quick-view-layout-default .main-images {
    height: 100% !important;
}
.single-product-default .product-content .price span.woocommerce-Price-amount.amount, .quick-view-info .price span.woocommerce-Price-amount.amount {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.text-center.product-details span.price del span.amount , div.price .original-computed-price span.amount {
    font-size: 13px;
    color: #888888 !important;
    font-weight: normal;
}
.text-center.product-details span.price {
    width: 100%;
    float: left;
    margin-top: 17px;
}
.text-center.product-details span.price {
    text-align: left;
    font-weight: bold;
}
span.price .wholesale_price_container span.amount , span.price ins span.amount {
    font-size: 15px;
}
.products-loop.products-grid .wishlist-disabled.status-publish .text-center.product-details span.price .original-computed-price {
    float: left;
}
.products-loop.products-grid .wishlist-disabled.status-publish .text-center.product-details span.price .wholesale_price_container {
    max-width: 148px;
    float: left;
    padding-left: 7px;
}
.products-loop.products-grid .wishlist-disabled.status-publish .text-center.product-details span.price .wholesale_price_container .wholesale_price_title {
    display: none;
}
.text-center.product-details span.price {
    padding-bottom: 10px;
}
.text-center.product-details span.i-stock , .text-center.product-details span.o-stock {
    text-align: right;
    height: 26px;
    padding-top: 7px;
    font-size: 11px;
    position: absolute;
    top: 65px;
    right: 0;
}
.sm-arrow.arrow-right , .sm-arrow.arrow-left {
    display: none !important;
}
.quick-view-info div.price p.price del span , .quick-view-info .price  del span.woocommerce-Price-amount.amount {
    font-size: 18px !important;
    color: #888888 !important;
    font-weight: normal !important;
}
/* slides product view */
.product-slide .content-product {
    padding-top: 0px !important;
}
.quick-view-layout-default .row .attachment-shop_single.size-shop_single.wp-post-image , .product-slide .content-product .product-image-wrapper .product-content-image .attachment-shop_single.size-shop_single.wp-post-image {
    padding: 10px !important;
}
.swiper-slide .product-content-image {
    max-height: 240px !important;
}
/*.swiper-slide .button.ajax_add_to_cart {*/
/*    display: block !important;*/
/*}*/
global-adding-to-cart .et-loader, .content-product.adding-to-cart .et-loader {
    z-index: 1 !important;
}
.products-loop.products-grid .wishlist-disabled.status-publish .content-product .onsale, .swiper-slide .content-product .onsale  {
    z-index: 5 !important;
}
.products-loop.products-grid .wishlist-disabled.status-publish .content-product .product-image-wrapper , .swiper-slide .content-product .product-image-wrapper {
    z-index: 0 !important;
}
.products-loop.products-grid .wishlist-disabled.status-publish , .product-slide {
    border: 1.9px solid #efefef !important;
    margin: 5px !important;
    max-height: 420px !important;
    height: auto;
    transition: .2s ease;
    width: 32% !important;
    max-width: 282px;
    min-height: 361px;
}
.single-product-sidebar .products-loop.products-grid .wishlist-disabled.status-publish {
    width: 100% !important;
}
.prefooter .wpb_single_image img {
    max-width: 161% !important;
    width: 1140px !important;
}
.archive .template-container .prefooter, .home .template-container .prefooter, .page-template-default .template-container .prefooter {
    display: none !important;
}
.single.single-product .template-container .content-page.container {
    padding-bottom: 1.65em !important;
}
.woocommerce .products-loop.products-grid .wishlist-disabled.status-publish:hover , .swiper-container .productCarousel .product-slide:hover  {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}
.woocommerce .products-loop.products-grid div.wishlist-disabled .button.product_type_simple , .swiper-slide .button.ajax_add_to_cart {
    position: absolute;
    top: -63px;
    left: 0;
    right: 0;
    display: none;
    transition: .2s ease;
    margin-left: auto;
    margin-right: auto;
    width: 139px;
    z-index: 5;
}
.woocommerce .products-loop.products-grid div.wishlist-disabled:hover .button.product_type_simple , .swiper-slide:hover .button.ajax_add_to_cart {
    display: block;
}
.sm-arrow.arrow-right , .sm-arrow.arrow-left {
    display: none;
}
div.product-to-cart, div.product_meta, div.product-desc {
    width: 100% !important;
    float: left !important;
}
.product-view-default .footer-product {
    top: -47px !important;
}
.content-product:hover .footer-product {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    top: 0 !important;
}
.content-product span.show-quickly {
    width: 115%;
    height: 246px;
    position: absolute;
    top: -257px;
    left: -15px;
    opacity: 0.1;
    z-index: 0;
    transition: .0s ease !important;
    max-width: 260px;
    background-color: #fff;
}
/*.content-product .show-quickly {*/
/*width: 130%;*/
/*height: 246px;*/
/*opacity: 0.1;*/
/*z-index: -1;*/
/*transition: .0s ease !important;*/
/*max-width: 266px;*/
/*}*/
.content-product :hover .show-quickly {
    opacity: 0.2;
}
.content-product p.afterpay-payment-info {
    display: none;
}
/* quick view */
.quick-view-layout-default .product-information .short-description {
    display: flex !important;
}
.quick-view-layout-default .row .product-information .product-name {
    margin-bottom: 7px !important;
    font-size: 24px !important;
    text-transform: none;
    font-weight: bold;
}
.quick-view-layout-default .row .product-information .products-page-cats a{
    font-size: 13px !important;
    text-transform: none !important;
}
.quick-view-layout-default .row .product-information .products-page-cats {
    margin-bottom: 7px !important;
    margin-top: 7px !important;
}
.quick-view-layout-default .row .product-information .quick-view-info div.star-rating , .quick-view-layout-default .row .product-information .quick-view-info div.star-rating span::before {
    color: #8cc63f;
}
.quick-view-info .star-rating, .quick-view-info .rating-link , .product-information .star-rating, .product-information .rating-link {
    height: 28px !important;
    float: left !important;
}
.quick-view-info div.price {
    max-height: 128px !important;
    height: auto !important;
    float: left !important;
}
.quick-view-info div.price span.wholesale_price_container {
    display: table !important;
    max-width: 500px !important;
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.quick-view-info div.price span.wholesale_price_container ins{
    max-width: 426px !important;
    width: 100% !important;
}
.quick-view-info .rating-link , .product-information .rating-link {
    padding-left: 15px !important;
    width: 100% !important;
    max-width: 315px !important;
}
.quick-view-info .rating-link p a {
    color: #8cc63f !important;
}
.quick-view-info .rating-link p a.double-rev {
    padding-left: 15px !important;
}
.quick-view-info .rating-link p , .product-information  .rating-link p {
    font-size: 13px  !important;
}
.quick-view-info .star-rating , .quick-view-info .star-rating span  {
    padding-top: 5px !important;
}
.quick-view-layout-default div.quick-view-info div.price .woocommerce-price-suffix , p.price .woocommerce-price-suffix{
    display: inline !important;
    font-size: 13px  !important;
}
.quick-view-layout-default div.quick-view-info div.price del.original-computed-price .woocommerce-price-suffix, span.price del.original-computed-price .woocommerce-price-suffix ,
p.price del.original-computed-price small.woocommerce-price-suffix {
    display: none !important;
}
.single-product-default .product-content .product-information p.price .wholesale_price_container {
    padding-top: 17px;
}
.quick-view-info div.price p.price .wholesale_price_container .wholesale_price_title {
    font-size: 20px !important;
    position: relative !important;
}
.product-information-inner .cart .qty-span {
    font-weight: bold;
    text-transform: capitalize;
}
.cart .input-quantity , .cart .quantity.buttons_added, .cart .stock.in-stock {
    float: left;
}
.cart p._stock {
    width: 76px;
    max-width: 77px;
}
.cart .input-quantity , .cart .stock.in-stock {
    width: 20% !important;
    height: 60px !important;
    padding-top: 10px !important;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0px !important;
}
.product-content .out-of-stock {
    color: #f7931e !important;
}
.quick-view-info .cart .stock.in-stock {
    padding-left: 10px !important;
}
.quick-view-info .cart .input-quantity {
    width: 17% !important;
}
.woocommerce-cart .quick-view-popup .product-content .product-information .quick-view-info .cart .input-quantity {
    display: none !important;
}
.woocommerce-cart .quick-view-popup .product-content .product-information .quick-view-info .cart .stock.in-stock {
    width: 100% !important;
    padding-left: 0px !important;
}
.woocommerce-cart .quick-view-popup .product-content .product-information .short-description {
    display: none;
}
.quick-view-info .product-to-cart h3 {
    font-size: 17px !important;
}
form.cart div.quantity span , div.quantity span {
    line-height: 30px !important;
    max-width: 29px !important;
    max-height: 31.2px;
}
form.cart div.quantity span.plus::before , div.quantity span.plus::before , form.cart div.quantity span.minus::before ,div.quantity span.minus::before {
    font-size: 10px !important;
}
form.cart div.quantity input[type="number"] , div.quantity input[type="number"] {
    width: 83px !important;
    max-width: 90px !important;
    max-height: 32px !important;
    margin-left: 0px;
    margin-right: 0px;
    border: 0;
    background-color: #f2f2f2;
}
.product-information .quick-view-info form.cart {
    max-width: 586px !important;
    width: 100% !important;
}
.col-md-12.col-sm-12.product-content.quick-view-layout-default {
    max-height: 695px !important;
}
.col-lg-8.col-sm-8.product-information {
    overflow: auto;
    max-height: 555px !important;
    max-width: 686px !important;
    padding-right: 46px !important;
}
.et_cart-type-2 .single_add_to_cart_button::before , .product-information .cart button , .product-information .product_meta , .col-lg-8.col-sm-8.product-information .product-desc p {
    font-size: 13px !important;
}
.product-information .cart button {
    border-radius: 5px !important;
    border-width: 0px !important;
}
.fas.fa-shopping-cart {
    padding-right: 18px !important;
}
/*.product-information .product_meta {*/
/*margin-bottom: 0px !important;*/
/*}*/
.col-lg-8.col-sm-8.product-information .product-desc p {
    line-height: 1.6 !important;
    margin-bottom: 0px !important;
}
.col-lg-8.col-sm-8.product-information .product-desc p.read-more , .col-lg-8.col-sm-8.product-information .product-desc p.read-more a {
    color: #29abe2 !important;
    font-style: italic !important;
}
i.icon {
    width:100% !important;
    text-align:center !important;
}
i.icon::before {
    color: #29abe2 !important;
    font-size:18px !important;
}
.quick-view-layout-default .product-information .product-footer {
    float: left !important;
    height:150px !important;
    width: 100% !important;
}
.product-footer div {
    text-align: center !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.product-information .sub-title , .product-information .title {
    font-style: normal !important;
}
.product-information .title {
    font-size: 13px !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
}
.product-information .sub-title {
    font-size: 12px !important;
    line-height: 1px !important;
    margin-bottom: 0px !important;
    width: 175px;
    position: relative;
    left: -17px;
    top: 3px;
}
.quick-view-layout-default .row .product-images {
    padding-top: 130px !important;
    max-height: 500px;
    height: 500px;
}
.quick-view-layout-default .row img {
    max-width: 275px !important;
    max-height: 365px !important;
}
.sidebar-position-without .row-count-5 .product:nth-child(5n+1), .row-count-6 .product:nth-child(6n+1) {
    clear: none !important;
    -webkit-clear: none !important;
}

@media (max-width:1200px) {
    .row-count-2 .product:nth-child(2n+1), .row-count-3 .product:nth-child(2n+1), .row-count-4 .product:nth-child(2n+1), .row-count-5 .product:nth-child(2n+1) {
        clear: none !important;
    }
    .row-count-4 .product:nth-child(4n+1), .sidebar-position-without .row-count-4 .product:nth-child(4n+1) {
        clear: none !important;
        -webkit-clear: none !important;
    }
    .content-product .product-content-image {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    div.wishlist-disabled {
        width: 48% !important;
    }
    .content-product .product-image-wrapper {
        max-width: 100% !important;
        height: 237px !important;
    }
    .product-view-default .footer-product span.show-quickly {
        width: 145% !important;
        max-width: 439px !important;
    }
    .wishlist-disabled.status-publish, .product-slide {
        width: 31% !important;
    }
    .text-center.product-details span.posted_in {
        width: 100% !important;
    }
    .text-center.product-details div.star-rating {
        float: left !important;
    }
}
@media (max-width:1199px) {
    .products-loop.products-grid .wishlist-disabled.status-publish, .product-slide {
        width: 31% !important;
        max-height: 430px !important;
    }
}
@media (max-width:1024px) {
    .content-product .button {
        height: 37px !important;
        border: 2px solid black !important;
        padding: 9px !important;
    }
    .content-product span.show-quickly {
        display: none !important;
    }
    .product-information .rating-link {
        max-width: 238px !important;
    }
    .text-center.product-details span.posted_in {
        width: 61% !important;
    }
    .text-center.product-details div.star-rating {
        float: right !important;
    }

    .content-product .product-title a {
        max-width: 310px !important;
    }
    .woocommerce .products-loop.products-grid  .button.product_type_simple {
        position: unset !important;
        top: 0px !important;
        display: table !important;
    }
    .product-information .sub-title {
        line-height: 13px !important;
    }
    div.wishlist-disabled {
        width: 50% !important;
    }
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        max-height: 430px !important;
        height: auto;
        max-width: 679px !important;
        width: 48.5% !important;
    }
    .wishlist-disabled.status-publish .content-product , .product-slide .content-product {
        margin-bottom: 15px !important;
    }
    .content-product span.show-quickly {
        max-width: 481px;
    }
}

@media (max-width:992px) {
    .row-count-2 .product:nth-child(2n+1), .row-count-3 .product:nth-child(2n+1), .row-count-4 .product:nth-child(2n+1), .row-count-5 .product:nth-child(2n+1) {
        clear: none !important;
    }
    .sidebar-mobile-top .sidebar.sidebar-left {
        display: none;
    }
}
@media (max-width:768px) {
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        max-width: 334px !important;
        width: 48.5% !important;
    }
    .product-information .rating-link {
        max-width: 632px !important;
    }
}
@media (max-width:767px) {
    .product-view-default .footer-product span.show-quickly {
        display: none !important;
    }
}
@media (max-width:725px) {
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        width: 48.4% !important;
    }
}
@media (max-width:683px) {
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        width: 48% !important;
    }
}
@media (max-width:602px) {
    .product-slide  {
        max-width: 250px !important;
        width: 100% !important;
    }
    .button.product_type_simple {
        width: 203px !important;
        line-height: 1.4rem !important;
    }
    div.wishlist-disabled {
        width: 100% !important;
    }
    .quick-view-layout-default .row .col-lg-8.col-sm-8.product-information{
        overflow: unset !important;
    }
}
@media (max-width:595px) {
    .text-center.product-details span.price {
        width: 80% !important;
    }
    .text-center.product-details span.stock {
        top: 304px !important;
    }
    .text-center.product-details span.posted_in {
        width: 61% !important;
    }
    .text-center.product-details div.star-rating {
        float: right !important;
    }
    .products-loop.products-grid .wishlist-disabled.status-publish, .product-slide {
        max-height: 425px !important;
    }
}
@media (max-width:500px) {
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        width: 100% !important;
    }
}
@media (max-width:414px) {
    .content-product .product-content-image {
        max-height: 236px !important;
    }
    h2.products-title {
        line-height: 5;
    }
    .product-information .rating-link {
        max-width: 249px !important;
    }

}
@media (max-width: 375px) {
    .products-loop.products-grid .wishlist-disabled.status-publish , .product-slide  {
        max-width: 303px !important;
        width: 100%;
    }

    .cart .input-quantity {
        width: 100% !important;
    }
}

@media only screen and (min-width: 980px) {
    .row-count-4 .product:nth-child(4n+1), .sidebar-position-without .row-count-4 .product:nth-child(4n+1) {
        clear: none !important;
        -webkit-clear: none !important;
    }
}
